body {
    font-family: sans-serif;

}
.search-bar{
    background-color: #2196F3;
}
.search-form{
    display: flex;
    justify-content: center;
    padding: 15px;
    
}
.input{
    font-size: 20px;
    border: none;
    width: 320px;
    outline: none;
    padding: 10px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
   
}
.button{
    font-size: 20px;
    border: none;
    outline: none;
    padding: 10px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    cursor: pointer;
    // &:hover,
    // &:focus {
    //     background: rgb(144, 144, 144);
    //     color: rgb(234, 233, 233);
    // } 

}
.gallery {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px auto;
  }
img { 
    width: 320px;
    height: 200px;
}
  .photo-card {
    flex-flow: column;
    flex-wrap: wrap;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }


  .info {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    width: 320px;
    font-size: 14px;
    margin-bottom: 20px;
  }

  .info-item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 10px;
  }
  
  
  .load-more {
    margin: 0 auto;
    display: block;
    margin-bottom: 50px;
    font-size: 28px;
    border: none;
    outline: none;
    padding: 10px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    cursor: pointer;
    // &:hover,
    // &:focus {
    //     background: rgb(144, 144, 144);
    //     color: rgb(234, 233, 233);
    // }

}
.hiden {
  display: none;
}